/** General style */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body{
    width: 100%;
    display: flex;
}

#menuAdmin {
    background-color: black;
    border: 3px solid turquoise;
    width:100vw;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

#menuAdmin div {
    text-align: center;
    font-weight: bold;
    padding: 2px;
}

#menuAdmin > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 1.5rem;
}

#menuAdmin li, #menuAdmin a {
    width: 24.5rem;
    color: white;
    font-weight: bold;
    text-decoration-line: none;
    font-size: large;

}