/** General style */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#menu {
    width:100vw;
    height: 16rem;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* Style logo */
#logo-style {
    padding: 1rem;
}

#logo {
    background: white;
    height: 13rem;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#menu img {
    height: 10rem;
    width: 19rem;
}

/* Style menu */
#menu div {
    text-align: center;
    font-weight: bold;
    padding: 2px;
}

#menu> ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 1.5rem;
    background-color: #eb9e9d;
    justify-content: space-between;
    width: 100vw;
}
#menu li {
    line-height: 5;
}

#menu li, #menu a {
    width: 24.5rem;
    color: white;
    font-weight: bold;
    text-decoration-line: none;
    font-size: large;
}

#menu a:hover{
    color: #a40e12;
}
/**
 * Design ARTICLE
 */
.articles {
    display: flex;
    border: 3px solid #eb9e9d;
    align-items: center;
}

.article img {
    width: 17rem;
    border-radius: 17px;
}

.hidden-article {
    display: none;
}
/**
 * Styling footer
 */
.footer .share {
    width: 40%;
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
}

.footer .share div {
    padding: 0.8rem;
}

.footer .share div > a  i {
    font-size: 3.5rem;
}

.footer .share a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.footer > div:first-child {
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.footer {
    margin-top: 4rem;
    background: linear-gradient(90deg, rgba(235,158,157,1) 0%, rgba(226,0,1,1) 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#copyright {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 2rem;
    margin-top: 2rem;
}