html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.6);
    --slidebar: 300px;
}

.layout {
    /** Limit width of the menu **/
    --slidebarClamped: clamp(300px, var(--slidebar), 50vw);
    display: grid;
    grid-template-columns: var(--slidebarClamped) 1fr;
    height: 100%;
}

.main {
    padding: 20px;
}

#logo {
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    text-align: center;
    margin: 1rem 0;
}

.sidebar {
    position: relative;
    background: purple;
    box-shadow: inset -2px 0 20px rgba(0, 0, 0, 0.2);
}

.sidebar a {
    display: flex;
    gap: 0.5em;
    align-items: center;
    padding: 1em 0.5em;
    text-decoration: none;
    color: white;
    border-bottom: solid 1px rgba(255,255,255,0.2);
}

.sidebar a:hover {
    background: rgba(255, 255, 255, 0.05);
}

.resize {
    position: absolute;
    top: 0;
    right: -10px;
    height: 100%;
    width: 20px;
    cursor: ew-resize;
}

.resize:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: greenyellow;
    transform: scale(0);
    opacity: 0;
    transition: .3s;
    /* For mobile */
    touch-action: none;
}

.resize:hover::after {
    transform: scaleX(0.2);
    opacity: 1;
}
